@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


#headerText{
    color: white;
    text-align: left;
    padding-left: 7%;
    width: fit-content;
    font-family: 'Love Ya Like A Sister', cursive;
    cursor: pointer;
}

#headerBackground{
    background-color: #FFC75F;
    display: block;
    border-bottom: 1px solid;
    border-color: #E7B355;
}