@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');


#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 41%;
  left: 20%;
  font-family: 'Sanchez', serif;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.split {
  height: 50%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  overflow-x: hidden;
}
 
.top {
  top: 0;
  background-color:#FFC75F;
}

.bottom {
  bottom: 0;
  background-color: white;
}
  
#logo {
  padding-top: 10px;
  height: 80%;
  width: 100%;
  background: url(../utils/Splash.svg) no-repeat;
  background-size: 24%;
  background-position-x: 40%;
  background-position-y: 10px;
  object-fit: contain;
  display: block;
}

