@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');


#username {
    text-align: right;
    position: sticky ; /* Sit on top of the page content */
    display: flex; /* Hidden by default */
    width: fit-content; /* Full width (cover the whole page) */
    height: fit-content; /* Full height (cover the whole page) */
    padding-top: 10px;
    left: 70%;
    color: white;
    font-family: 'Sanchez', serif;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#clickable {
  cursor: pointer;
  padding-left: 5px;
}

#usernameLogo {
  display: flex;
  position: sticky;
  height: 45px;
  padding-bottom: 10px;
  padding-right: 5px;
}


.thirdTop {
    height: 70%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
  }
  
  
.thirdBottom {
    padding-top: 5%;
    height: 70%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
  }
  

