@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');


#nameInput {
    font-family: 'Sanchez', serif;
}

#centering {
    text-align: center;
}

#nameBox {
    background-color: white;
    border-radius: 25px;
    text-align: center;
    width: 60%;
}

#button-color {
    background-color: #845EC2;
    font-family: 'Sanchez', serif;
}

#purple-footer{
    background-color: #845EC2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}