@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');


#translationText {
    font-family: 'Sanchez', serif;
}

#translationsDisplay {
    width: fit-content;
    height: 300px;
    border-radius: 25px;
    border-color: #845EC2;
    margin: auto;
}