#translationCard {
    width: 70%;
    height: 300px;
    border-radius: 25px;
    border-color: #845EC2;
    margin: auto;
}

#footer {
    background-color: #845EC2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

#image {
    height: 40%;
    
}