@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');


#translationInputBox{
    padding-top: 3%;
    width: 70%;   
    margin: auto;
}

#translationInput {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-family: 'Sanchez', serif;

}

#translateButton {
    background-color: #845EC2;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}
